*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
  }
  
  .wrapper p{
     margin: 30px;  
  }
  
  .videoWrapper {
    display: block;
  }
  .highlight {
    cursor: pointer;
  }
  
  /*Media Queries*/
@media (min-width: 768px) {
  .wrapper{
    width: 768px;
    margin: auto;
  }
  .videoWrapper {
    width: 710px;
    margin: auto;
  }
  .highlight {
    cursor: pointer;
  }
} 